#content {
 padding: 3px;
}

header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding: 75px 50px;
}

body {
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 25px;
}

h1{
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 40px;
  padding: 75px 50px;
}

p{
 padding: 75px 50px;
}
