header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
 padding: 15px 25px;
}

body {
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 25px;
  padding: 15px 25px;
}

h1{
  font-family: Futura, Trebuchet MS;
  font-weight: condensed;
  color: black;
  font-size: 40px;
  padding: 15px 25px;
}

p{
 padding: 15px 35px;
}

#content {
 padding: 3px;
}

#WPI{
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none;
}

#main_nav li a {
   display: block;
   text-decoration: none;
   border-radius: 10px;
   margin: 6px;
   padding: 9px;
   color: #222;
   font-weight: bold;

  
   background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));

   border: 1px solid #666;
}

nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}
